/* RESET */
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;;
}

* img {
    max-width: 100%;
    max-height: 100%;
}


header {
    font-weight: 800;
    color: #E53372;
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 100px;
    
}
 
.team-intro {
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
}

/* .team-cards{
    float: left;
} */

.fl {
    float: left;
}

.card {
    
    color: white;
    background-color: black;
    width: calc((100% - 60px) / 3 );
    margin-bottom: 36px;
    margin-left: 30px;
    box-shadow: 1px 1px 1px 1px rgba(169, 160, 164, 0.45);
   
}

.card-img{
    max-width: 100px;
    max-height: 100px;

}

.card-body{
    padding: 18px 10px;
    float: left;
}

.card:nth-child(3n+1){
    margin-left: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;

}

.name{
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
    padding-left: 4px;
    

}

.role{
    display: block;
    padding: 4px 4px;
    font-size: 14px;


}

.mail{
    display: block;
    color: #5CCBF2;
    font-size: 12px;
    padding-left: 4px;

}
    


footer{
    color: #CCCCC7;
    background-color: #222222;
    border-bottom: 2px solid white;
    height: 100px;
    text-align: center;
    padding: 26px 80px;
    max-width: 1400px;
    
}

* a {
    text-decoration: none;
}