/* RESET */
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;;
}

img {
max-width: 100%;
max-height: 100%;
}



header {
    font-weight: 800;
    color: #E53372;
    font-size: 40px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
 
.team-intro {
    padding: 20px 0;
}

.debug{
    border: 2px red solid;
}

.fl {
    float: left;
    }

.card {
    display: inline-block;
    color: white;
    background-color: black;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    height: 100px;
    margin-left: 10px;
    
}

.card:nth-child(3n+1){
    margin-left: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;

}
